{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Spy {% endblock %}

{% block custom_css_links %}
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "css/spy.css" %}">
{% endblock %}

{% block main_content %}
<div class="colmask">

{% block header_text %} SPY {% endblock %}

  <div class="colmid">
    <div class="colleft">

      <!-- middle column, cards -->
      <div class="col1">
        <h2 id="current_clue">Trophy 2</h2>

        {# all the card objects & prop #}
        {% for card in card_list %}
          <div class="card {{ card.selected }} {{ card.card_type }}" id="{{ card.id }}">{{ card.word }}</div>
        {% endfor %}
      </div>

      <!-- left column, game status -->
      <div class="col2">
        <div class="guess_count_left">
          <h2>GUESSES</h2>
          <section id="guesses_blue">{{ game_status.guesses_allowed }}</section>
        </div>
        <div class="clue_history_left">
          <h2>CLUES</h2>
          <ol id="clues_blue">
            <li>clue 1</li>
            <li>clue 2</li>
            <li>clue 3</li>
          </ul>
        </div>
        <div id="game_status" class="{{ game_status.active_team.is_blue }}">
        {# all the game status properties #}

        {#  Game Status #}
        {{ game_status.active_team.is_blue }}
        {{ game_status.active_team.spies_left }}
        {{ game_status.guesses_allowed }}
        </div>
      </div>
      <div class="col3">
        <div class="guess_count_right">
          <h2>GUESSES</h2>
          <section id="guess_red">7</section>
        </div>
        <div class="clue_history_right">
          <h2>CLUES</h2>
          <ol id="clues_red">
            <li>clue 1</li>
            <li>clue 2</li>
            <li>clue 3</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js_scripts %}
<script type="text/javascript" src="{% static "js/spy.js" %}"></script>
{% endblock %}
