/* layout */

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #eee;
}

header {
    margin-bottom: 12%;
    padding: 10px 0;
    background-color: #ccc;
    box-shadow: 0px 5px 15px #333;
    color: #555;
}

/* enter or restart game */

input#enter, input#restart  {
    padding: 45px 95px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    background-color: #555;
    color: #eee;
}

input#enter:hover, input#restart:hover {
    background-color: #777;
}

#started:after, #waiting:after {
    display: block;
    content: 'status: game in progress, enter game';
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 20px 0;
    background-color: #CC3333;
    color: #eee;
    font-size: 1.2em;
}
#waiting:after {
    content: 'status: ready, start new game';
    background-color: #009966;
}


/* select player */

a.select_player {
    color: #eee;
    background-color: #333;
    text-decoration: none;
    padding: 75px;
    display: inline-block;
}

a.select_player:hover  {
    background-color: #777;
}

a.select_player:nth-of-type(2) {
    background-color: blue;
    background-image: linear-gradient(rgba(255, 0, 0, 1) 50%, transparent 50%, transparent);
}
