body {
    font-family: sans-serif;
    text-align: center;
    background-color: #eee;
}

header {
    margin-bottom: 150px;
}

/*launch game*/

.launch a {
    padding: 50px 100px;
    color: #eee;
    background-color: #333;
    text-decoration: none;
    border-radius: 10px;
}

.launch a:hover {
    background-color: #777;
}

.launch input {
    margin: 55px;
    color: crimson;
    text-decoration: none;
    border-radius: 10px;
}

.launch input:hover {
    background-color: #777;
}

/* select player */

.select_player a {
    color: #eee;
    background-color: #333;
    text-decoration: none;
    padding: 75px;
    display: inline-block;
}

.select_player a:hover {
    background-color: #777;
}

.select_player a:nth-of-type(2) {
    background-color: blue;
    background-image: linear-gradient(rgba(255, 0, 0, 1) 50%, transparent 50%, transparent);
}

