body {
    font-family: sans-serif;
    text-align: center;
    background-color: #eee;
}

header {
    margin-bottom: 150px;
}

a {
    padding: 50px 100px;
    color: #eee;
    background-color: #333;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: #777;
}

input {
    margin: 55px;
    color: crimson;
    text-decoration: none;
    border-radius: 10px;
}

input:hover {
    background-color: #777;

}

