<!DOCTYPE html>
<html>
<head>
  <title>start</title>
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      background-color: #eee;
    }
    header {
      margin-bottom: 150px;
    }
    a {
      padding: 50px 100px;
      color: #eee;
      background-color: #333;
      text-decoration: none;
      border-radius: 10px;
    }
    a:hover {
      background-color: #777;
    }
  </style>
</head>
<body>
  <header>
    <h1>Codenames</h1>
  </header>
  <a href="#">LAUNCH GAME</a>
</body>
</html>
